header {
    background-color: $background-color;
    position: sticky;
    top: 0px;

    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        ul {
            display: flex;
            list-style: none;
            width: fit-content;
            margin-left: auto;

            li {
                margin-left: auto;
                padding: 15px;

                a {
                    text-decoration: none;
                    color: aliceblue;
                    font-style: italic;
                    font-weight: bold;
                    font-size: 1.2rem;
                    padding: 20px;

                    &:hover {
                        color: black;

    h1 {
        text-decoration: none;
        color: rgba(87, 93, 99, 0.801);
        font-size: 3rem;
        padding: 30px;
        }
                    }
                }
            }
        }
    }
}