h2{
    padding: 40px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
}

.article-QuienesSomos{
    padding-right: 20vw;
    padding-left: 20vw;
}

.donaciones{
    padding-right: 20vw;
    padding-left: 20vw;
}