h2{
    padding: 40px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
}

.article-QuienesSomos{
    padding-right: 20vw;
    padding-left: 20vw;
}

.donaciones{
    padding-right: 20vw;
    padding-left: 20vw;
}




.contenedorGaleria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;s
    .imagenGaleria {
        width: 100%;
        height: 100%;
        object-fit: cover;


    }

}