h2 {
    padding: 20px;
    font-style: italic;
}

p {
    text-align: justify;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.container {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}