.wrapper {
    min-height: calc(100vh - 50px);
    background-color: beige;
    overflow: hidden;
    width: auto;
    .fondoIndex{
        background-image: url(/imagenes/fondoportada1.jpg);
        height: inherit;
    }
}