.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    // max-width: 300px;
    width:30%;
    border-radius: 5px;
    text-align: center;
    margin:auto;
    
    & :hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-15px);
    }
    
    img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    }
    
    .card {
    padding: 16px 16px;
    width:30%;
    }
}


.cards-donaciones{ 
    display:flex;
    justify-content:center;
    align-items:center;


}
