.container{
    width:100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: auto;

    & :hover{
        transform: translateY(-15px);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .card{
        width: 330px;
        height: 550px;
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        overflow: hidden;
        margin: 20px;
        padding: 20px;
        text-align: center;
        transition: 0.25s;
        .card-text{
            width:fit-content
        }

        img {
            width: 300px;
            height: 220px;
        }
        h3{
            font-weight: 600;
        }
        p{ 
            padding: 1 rem;
            font-size: 16px;
            font-weight: 300;
        }
    }

}    